{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/download.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <div class="logo">
            <img src="{% static 'images/mtlogo2.png' %}" alt="">
        </div>
        <ul>
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="#">ContactUS</a></li>
            
        </ul>

    </div>
    <section id="sect">
        <h1 style="color: white; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; text-align: center; font-size: xx-large; margin-bottom: 45px;">For PC Only</h1>

        <div class="card">
            <img src="{% static 'images/vs code.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">Visual Studio Code</b>
                <p style="color: white;">Visual Studio Code is a source-code editor that can be used with a variety of programming languages, including Java, JavaScript, Go, Node.js, Python and C++.</p>
                <a href="https://visualstudio.microsoft.com/"> Download</a>
            </div>
         </div>
         <div class="card">
            <img src="{% static 'images/python.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">Python</b>
                <p style="color: white;">Python is an interpreted, object-oriented, high-level programming language with dynamic semantics.</p>
                <a href="https://www.python.org/downloads/"> Download</a>
            </div>
         </div>
        <div class="card">
            <img src="{% static 'images/pycharm.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">PyCharm</b>
                <p style="color: white;">It is an integrated development environment (IDE) used in computer programming, specifically for the Python language.</p>
                <a href="https://www.jetbrains.com/pycharm/download/#section=windows"> Download</a>
            </div>
         </div>
        <div class="card">
            <img src="{% static 'images/java.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">Java</b>
                <p style="color: white;">Java is a high-level, class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible.</p>
                <a href="https://java.com/en/download/"> Download</a>
            </div>
         </div>
        <div class="card">
            <img src="{% static 'images/sql.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">SQL</b>
                <p style="color: white;">SQL is a domain-specific language used in programming and designed for managing data held in a relational database management system (RDBMS), or for stream processing in a relational data stream management system (RDSMS). </p>
                <a href="https://www.microsoft.com/en-in/sql-server/sql-server-downloads"> Download</a>
            </div>
         </div>
        <div class="card">
            <img src="{% static 'images/php.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">PHP</b>
                <p style="color: white;">PHP is a general-purpose scripting language geared towards web development.</p>
                <a href="https://www.php.net/downloads.php"> Download</a>
            </div>
         </div>
        <div class="card">
            <img src="{% static 'images/atom.jpg' %}" alt="" style="width: 70%;">
            <div class="container">
                <b style="color: white;">Atom</b>
                <p style="color: white;">Atom is a concurrent and domain specific programming language that is used for real-time and embedded applications.</p>
                <a href="https://atom.io/"> Download</a>
            </div>
         </div>
         
        
    </section>
</body>
</html>