{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<script data-ad-client="ca-pub-5989524991375031" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon"href="{% static 'images/mtlogo2.png' %}" type="image/png" >
    <title>EmTech</title>
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="{% static 'images/mtlogo2.png' %}" alt="">
            </div>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href="https://wa.me/message/4TSP7J2GA7ZRE1">ContactUS</a></li>
                
            </ul>

        </div>
        <div class="center">
            <h1>EmTech</h1>
            <h6>“The only source of knowledge is experience.” – Albert Einstein</h6>
            <div class="button">
                <button class="bnn"><a href="https://paystack.com/pay/4dx7bxyg7f">Start Code Class</a></button>
                <button class="btn"><a href="{% url 'download' %}">Download Applications For Programming Language</a></button>
                <button class="bnn" ><a href="https://www.w3schools.com/">Ask, Answer & Solve Questions</a></button>
            </div>

        </div>
        
    </header>
</body>
</html>
